services:
  mongodb:
    image: mongo
    container_name: qbmongo
    ports:
      - "27017:27017"
    volumes:
      - qbmg:/data/db
    environment:
      TZ: Asia/Shanghai
      MONGO_INITDB_DATABASE: quantbox
    restart: always

volumes:
  qbmg:
    name: qbmg
    external: true
